.header-container {
  background-size: cover;
  background-position: center;
  min-height: 450px;
  position: relative;
  width: 100%;
  z-index: 1;
}

.header-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  inset: 0;
  z-index: 2;
}

.header-content {
  position: relative;
  z-index: 3;
  color: white;
}
