.card-pizza {
  width: 100%;
  max-width: 320px;
  height: 580px;
  border-radius: 1rem;
  margin: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pizza-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 200px;
}

.pizza-img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title {
  font-size: 3rem;
  font-weight: bold;
}

.card-ingredients {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #555;
}

.card-price {
  font-size: 1.5rem;
  color: black;
  margin: 0.5rem;
}

.divider {
  border-top: 1px solid #343131;
  width: 100%;
}

.fixed-btn {
  width: 100px;
}
