.card-pizza {
  width: 100%;
  max-width: 320px;
  height: 580px;
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.pizza-img {
  height: 200px;
  object-fit: cover;
}

.card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pizza-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title {
  font-size: 2rem;
  font-weight: bold;
}

.card-ingredients {
  color: #555;
  margin: 0.5rem 0;
}

.card-price {
  font-size: 1.2rem;
  color: black;
}

.card-desc {
  display: -webkit-box;
  -webkit-line-clamp: 3; 
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card-desc.reducida {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card-desc.expandida {
  display: block;
}

.divider {
  border-top: 1px solid #343131;
  margin: 0.5rem 0;
}

.fixed-btn {
  width: 100px;
}

